.forecastItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2rem;
  padding: 1rem 1.5rem 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.forecastItem div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* check compatability among other browsers */
  width: -webkit-fill-available;
  margin-bottom: 0.4rem;
}

.forecastItem div:last-child {
  margin-bottom: 0;
}

.forecastItem_date {
  display: flex;
  justify-content: space-between;
}

.forecastItem_date h2 {
  margin-right: 0.5rem;
}

.forecastItem .icon {
  margin-right: 1rem;
}

.forecastItem_desc {
  border-top: 1px solid whitesmoke;
  padding-top: 0.5rem;
}

.forecastItem_desc p {
  font-size: 12px;
  max-width: 130px;
}
