.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--textColorLight);
  background-color: var(--primaryColor);
}

.weather_title {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 3rem;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--darkColor);
  color: var(--textColorLight);
  padding: 1rem 0;
}

.input_container h2 {
  width: 70%;
  font-size: 1.4rem;
  text-align: center;
}

.input {
  width: 50%;
  border-radius: 99px;
  border: none;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
}

@media (min-width: 860px) {
  .weather_title {
    font-size: 1.6rem;
  }
  .input_container {
    padding: 1.5rem 0;
  }
  .input_container h2 {
    font-size: 1.6rem;
  }
}
