.weatherDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.today {
  margin: 2rem 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 2rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.today_left {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.today_left h1 {
  font-size: 2.2rem;
}

.today_left h2 {
  margin-bottom: 0.3rem;
  text-align: center;
  white-space: nowrap;
  font-size: 1.3rem;
}

.today_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.today_right div {
  display: flex;
  align-items: center;
}

.today_right .icon {
  margin-right: 1rem;
}

.fortnightForecast_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.fortnightForecast_title {
  margin-bottom: 1.5rem;
}

.fortnightForecast_title h2 {
  font-size: 1.6rem;
}

.fortnightForecast {
  background-color: transparent;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

@media (min-width: 860px) {
  .fortnightForecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
  .fortnightForecast_title h2 {
    font-size: 1.8rem;
  }
  .today {
    margin: 2rem 0;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  .today_left h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1080px) {
  .fortnightForecast {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .fortnightForecast {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1500px) {
  .fortnightForecast {
    grid-template-columns: repeat(7, 1fr);
  }
}
