* {
  margin: 0;
}

:root {
  /* Theme colors */
  --textColorLight: whitesmoke;
  --textColorDark: #191919;

  /* Fonts */
  --mainFont: 'Segoe UI', sans-serif;
}

body {
  font-family: var(--mainFont);
  box-sizing: border-box;
  background-color: #191919;
}

button {
  cursor: pointer;
}