* {
  margin: 0;
}

:root {
  /* Theme colors */
  --primaryColor: #0D2746;
  --secondaryColor: rgb(42, 98, 207);
  --accentColor: #8ffedd;
  --darkColor: #191919;

  --textColorLight: whitesmoke;
  --textColorDark: #191919;

  /* Fonts */
  --mainFont: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--mainFont);
  box-sizing: border-box;
  background-color: var(--primaryColor);
}

button {
  cursor: pointer;
}

h1, h2 {
  font-weight: 500;
}

/* Image classes */
.bg {
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px var(--textColorDark);
}
.rain {
  background-image: url("/src/assets/rainy.png");
}
.cloudy {
  background-image: url("/src/assets/cloudy.jpg");
}
.partly-cloudy-day, .partly-cloudy-night, .wind {
  background-image: url("/src/assets/partly-cloudy.jpg");
  color: var(--textColorDark);
  text-shadow: 1px 1px 2px whitesmoke;
}
.clear-day, .clear-night {
  background-image: url("/src/assets/sunny.jpg");
}

.loader-container {
  display: flex;
  margin: 0 auto;
  width: 100px;
}

.loader {
  display: block;
  width: 25px;
  height: 25px;
  margin: 40px auto;
  border-radius: 50%;
  background-color: whitesmoke;
}

.slider {
  overflow: hidden;
  margin: 0 50px;
}

@media (max-width: 860px) {
  .slider {
    width: 85vw;
  }
}
