* {
  margin: 0;
}

:root {
  /* Theme colors */
  --textColorLight: whitesmoke;
  --textColorDark: #191919;

  /* Fonts */
  --mainFont: 'Segoe UI', sans-serif;
}

body {
  font-family: var(--mainFont);
  box-sizing: border-box;
  background-color: #191919;
}

button {
  cursor: pointer;
}

h1, h2 {
  font-weight: 500;
}

/* Image classes */
.bg {
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px var(--textColorDark);
}
.rain {
  background-image: url("/src/assets/rainy.png");
}
.cloudy {
  background-image: url("/src/assets/cloudy.jpg");
}
.partly-cloudy-day, .partly-cloudy-night, .wind {
  background-image: url("/src/assets/partly-cloudy.jpg");
  color: var(--textColorDark);
  text-shadow: 1px 1px 2px whitesmoke;
}
.clear-day, .clear-night {
  background-image: url("/src/assets/sunny.jpg");
}

.slider {
  overflow: hidden;
  margin: 0 50px;
}

@media (max-width: 860px) {
  .slider {
    /* min-width: 200px;
    max-width: 430px; */
    width: 85vw;
  }
}
